*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: center;
    background-color: #0000007c;

}

nav ul{
    list-style-type: none;
    
}

#inicio{
    background-image: url(https://images.unsplash.com/photo-1517292987719-0369a794ec0f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
}

.cta-button{
    width: 200px;
    justify-content: center;
    top: 50%;
    left: 50%;
}